/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SYMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER


*/
/* BASE COLORS */
body {
  color: rgb(244, 244, 245);
}

h1,
h2,
h3 {
  color: rgb(244, 244, 245);
}

/* BASE TEXT FONTS */
body {
  font-family: "sofia-pro", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "sofia-pro", Helvetica, sans-serif;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1,
h2,
h3,
p {
  margin: 0 0 0.5em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1rem;
  font-family: "sofia-pro", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0 0 0.5em 0;
  margin: 3em auto 3em auto;
}

/* TYPOGRAPHIC SCALE */
h1 {
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

/* LIMIT # OF CHARACTERS PER LINE */
p {
  max-width: 40em;
}

/* LINKS */
a {
  color: rgb(0, 84, 164);
}
a:hover {
  color: rgb(0, 84, 164);
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: rgb(2, 48, 71);
}

.subheadline {
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0.25em 0;
  color: rgb(33, 158, 188);
}

/* BUTTONS */
.button,
button {
  display: inline-block;
  background-color: rgb(244, 244, 245);
  color: rgb(35, 31, 32);
  text-decoration: none;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0.5em 1em 0;
}
.button:hover,
button:hover {
  color: rgb(244, 244, 245);
  background-color: rgb(35, 31, 32);
  border-radius: 1em;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}

/* MEDIA */
/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  padding: 0 3em;
  max-width: 100%;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SYMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stack {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row {
    /* GRID HELPERS */
  }
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .one-third {
    width: 31.3333%;
  }
  .row .two-thirds {
    width: 64.6666%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourth {
    width: 73%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

/* FOR DEMO PURPOSES */
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* HERO SECTION */
.hero {
  color: rgb(244, 244, 245);
  background: rgb(142, 202, 230);
  display: -ms-grid;
  display: grid;
  text-align: center;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: auto 0;
  padding: 6em 0;
}
.hero h1 {
  margin-bottom: 0.25em;
  color: rgb(244, 244, 245);
}
.hero p {
  margin: 1em auto;
}

/* SECTION */
.main-content {
  margin-left: 250px;
  overflow-x: hidden;
}

section {
  background-color: rgb(244, 244, 245);
  height: 100vh;
  margin: auto 0;
  padding: 6em 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section:nth-of-type(2n) {
  background-color: rgb(2, 48, 71);
}

section:nth-of-type(3n) {
  background-color: rgb(0, 84, 164);
}

section:nth-of-type(4n) {
  background-color: rgb(33, 158, 188);
}

section:nth-of-type(5n) {
  background-color: rgb(142, 202, 230);
}

@media (min-width: 782px) {
  .overlap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.overlap .text-overlap,
.overlap .one-half:last-child {
  background-color: #ddd;
  padding: 2em;
  margin-left: -4em;
  position: relative;
  z-index: 10;
  border-radius: 0 30px;
  -webkit-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.overlap.swap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.overlap.swap .one-half-column:last-child {
  margin-left: 0;
  margin-right: -4em;
}

#section3 {
  background-image: url(../img/kcc-campus.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#section3 .text-box {
  background-color: rgb(2, 48, 71);
  padding: 8em;
  text-align: center;
}

/* TO HIDE SOMETHING VISUALLY */
.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* SITE-HEADER SITE-NAV SITE-NAV */
.side-nav {
  padding-top: 3em;
  padding-bottom: 2em;
  width: 250px;
  min-height: 100vh;
  background-color: rgb(244, 244, 245);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.side-nav nav {
  max-width: 175px;
}
.side-nav nav h2 {
  color: rgb(35, 31, 32);
}
.side-nav nav li {
  list-style: none;
}
.side-nav nav ul {
  padding: 0;
}
.side-nav nav li a {
  text-decoration: none;
  color: rgb(35, 31, 32);
  display: block;
  text-align: left;
  padding: 1em 0;
  font-size: 1rem;
  font-weight: 400;
  -webkit-transition: all ease-out 250ms;
  transition: all ease-out 250ms;
}
.side-nav nav li a:hover {
  color: rgb(142, 202, 230);
}

/* ANIMATIONS */
.hero .container *,
.hero[data-sectionstate=inactive] .container * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.hero .container *:nth-child(1),
.hero[data-sectionstate=inactive] .container *:nth-child(1) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.hero .container *:nth-child(2),
.hero[data-sectionstate=inactive] .container *:nth-child(2) {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.hero .container *:nth-child(3),
.hero[data-sectionstate=inactive] .container *:nth-child(3) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.hero .container *:nth-child(4),
.hero[data-sectionstate=inactive] .container *:nth-child(4) {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.hero .container *:nth-child(5),
.hero[data-sectionstate=inactive] .container *:nth-child(5) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}
.hero[data-sectionstate=active] .container *,
.hero[data-sectionstate=inactive][data-sectionstate=active] .container * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#section1 .one-half:nth-child(1) {
  -webkit-transition: all 1250ms ease-out;
  transition: all 1250ms ease-out;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}
#section1[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#section1 .one-half:nth-child(2) {
  -webkit-transition: all 1250ms ease-out;
  transition: all 1250ms ease-out;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
}
#section1[data-sectionstate=active] .one-half:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#section2 .one-half:nth-child(1) {
  -webkit-transition: all 1250ms ease-out;
  transition: all 1250ms ease-out;
  -webkit-transform: translate(-50px, -50px);
          transform: translate(-50px, -50px);
}
#section2[data-sectionstate=active] .one-half:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#section2 .one-half:nth-child(2) {
  -webkit-transition: all 1250ms ease-out;
  transition: all 1250ms ease-out;
  -webkit-transform: translate(50px, 50px);
          transform: translate(50px, 50px);
}
#section2[data-sectionstate=active] .one-half:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/* UTILITY / HELPER CLASSES FOR ANIMATION */
.animate-scale-in,
[data-sectionstate=inactive] .animate-scale-in {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

[data-sectionstate=active] .animate-scale-in {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.animate-slide-up,
[data-sectionstate=inactive] .animate-slide-up {
  -webkit-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

[data-sectionstate=active] .animate-slide-up {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animate-drop-delay *,
[data-sectionstate=inactive] .animate-drop-delay * {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}
.animate-drop-delay *:nth-child(1),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(1) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.animate-drop-delay *:nth-child(2),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(2) {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.animate-drop-delay *:nth-child(3),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(3) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.animate-drop-delay *:nth-child(4),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(4) {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.animate-drop-delay *:nth-child(5),
[data-sectionstate=inactive] .animate-drop-delay *:nth-child(5) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

[data-sectionstate=active] .animate-drop-delay * {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.onscroll-wipe .home-page > * {
  -webkit-transition: all 500ms cubic-bezier(0, 1, 1, 1);
  transition: all 500ms cubic-bezier(0, 1, 1, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

/* .onscroll-wipe:nth-child(even) .nma-sectionwrapper > * {
    transform: translateY(20px);
  } */
[data-sectionstate=active].onscroll-wipe .home-page > * {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition-delay: 1.95s;
          transition-delay: 1.95s;
}

[data-sectionstate=active].onscroll-wipe .home-page > *:nth-child(1) {
  -webkit-transition-delay: 1.75s;
          transition-delay: 1.75s;
}

[data-sectionstate=active].onscroll-wipe .home-page > *:nth-child(2) {
  -webkit-transition-delay: 1.85s;
          transition-delay: 1.85s;
}