/* GLOBAL RESETS */
* {
    box-sizing: border-box;
}

// VARIABLES
$color-neutral-dark: rgba(35, 31, 32, 1);
$color-neutral-light: rgba(244, 244, 245, 1);
$color-main-b1: rgba(2, 48, 71, 1);
$color-main-b2: rgba(0, 84, 164, 1);
$color-main-b3: rgba(33, 158, 188, 1);
$color-main-b4: rgba(142, 202, 230, 1);


$font-family-sans: 'sofia-pro', Helvetica, sans-serif;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/helpers";
@import "partials/sitenav";
@import "partials/animations";