/* ANIMATIONS */

// SCROLL TRIGGER ANIMATIONS

.hero,
.hero[data-sectionstate="inactive"] {

    .container * {
        transition: all 1s ease-out;
        opacity: 0;
        transform: translate(0, -20px);

        &:nth-child(1) {
            transition-delay: 400ms;
        }

        &:nth-child(2) {
            transition-delay: 500ms;
        }

        &:nth-child(3) {
            transition-delay: 600ms;
        }

        &:nth-child(4) {
            transition-delay: 700ms;
        }

        &:nth-child(5) {
            transition-delay: 800ms;
        }
    }

    &.active {

        .container * {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

}

// #section1 {

//     // SECTION 1 FIRST COLUMN ANIMATION
//     .one-half:nth-child(1) {
//         transition: all 1250ms ease-out;
//         transform: translate(-50px, 0);
//     }

//     &.active {

//         .one-half:nth-child(1) {
//             transform: translate(0, 0);
//         }
//     }

//     // SECTION 1 SECOND COLUMN ANIMATION
//     .one-half:nth-child(2) {
//         transition: all 1250ms ease-out;
//         transform: translate(50px, 0);
//     }

//     &.active {

//         .one-half:nth-child(2) {
//             transform: translate(0, 0);
//         }
//     }

// }

// #section2 {

//     // SECTION 2 FIRST COLUMN ANIMATION
//     .one-half:nth-child(1) {
//         transition: all 1250ms ease-out;
//         transform: translate(-50px, -50px);
//     }

//     &.active {

//         .one-half:nth-child(1) {
//             transform: translate(0, 0);
//         }
//     }

//     // SECTION 2 SECOND COLUMN ANIMATION
//     .one-half:nth-child(2) {
//         transition: all 1250ms ease-out;
//         transform: translate(50px, 50px);
//     }

//     &.active {

//         .one-half:nth-child(2) {
//             transform: translate(0, 0);
//         }
//     }

// }

/* UTILITY / HELPER CLASSES FOR ANIMATION */

// SCALE-IN

.animate-scale-in,
[data-sectionstate="inactive"] .animate-scale-in {
    transition: all 1000ms ease-out;
    opacity: 0;
    transform: scale(0.9);
}

.active .animate-scale-in {
    opacity: 1;
    transform: scale(1);
}

.animate-slide-up,
[data-sectionstate="inactive"] .animate-slide-up {
    transition: all 1000ms ease-out;
    opacity: 0;
    transform: translate(0, 50px);
}

.active .animate-slide-up {
    opacity: 1;
    transform: translate(0, 0);
}

// DROP-IN CHILDREN WITH DELAY
.animate-drop-delay,
[data-sectionstate="inactive"] .animate-drop-delay {

    * {
        transition: all 1s ease-out;
        opacity: 0;
        transform: translate(0, -20px);

        &:nth-child(1) {
            transition-delay: 400ms;
        }

        &:nth-child(2) {
            transition-delay: 500ms;
        }

        &:nth-child(3) {
            transition-delay: 600ms;
        }

        &:nth-child(4) {
            transition-delay: 700ms;
        }

        &:nth-child(5) {
            transition-delay: 800ms;
        }
    }
}

.active .animate-drop-delay {

    * {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* SWIPE TRANSISTION ANIAMTION */

.onscroll-wipe .nma-sectionwrapper>* {
    transition: all 500ms cubic-bezier(0, 1, 1, 1);
    transition-delay: 3s;
    opacity: 0;
    transform: translateY(20px);
}

.active.onscroll-wipe .nma-sectionwrapper>* {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1.95s;
    // border: 5px solid red;
}

.active.onscroll-wipe .nma-sectionwrapper>*:nth-child(1) {
    transition-delay: 2s;
}

.active.onscroll-wipe .nma-sectionwrapper>*:nth-child(2) {
    transition-delay: 2.25s;
}

.active.onscroll-wipe .nma-sectionwrapper>*:nth-child(3) {
    transition-delay: 2.55s;
}

.onscroll-wipe::before,
.onscroll-wipe::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    transition: all 1s cubic-bezier(0, .5, .5, 1);
    transition-delay: .5s;
    background-color: white;
    transform: translateX(0);
    z-index: 1;
}

// SECTIONS TOP SWIPE
.active.onscroll-wipe::before {
    top: 0;
    transition-delay: 1.25s;
    // transition: all 1s cubic-bezier(0, .5, .5, 1);
}

// SECTIONS BOTTOM SWIPE
.active.onscroll-wipe::after {
    top: 50%;
    transition-delay: 1.15s;
    // transition: all 1s cubic-bezier(0, .5, .5, 1);
}

// SECTIONS LEFT SWIPE
.active.wipe-left::before,
.active.wipe-left::after {
    left: 0;
    transform: translateX(-100%);
    // border: 5px solid green;
}

// SECTIONS RIGHT SWIPE
.active.wipe-right::before,
.active.wipe-right::after {
    right: 0;
    transform: translateX(100%);
    // border: 5px solid red;
}

// SECTION 1 BOX PUSH IN
.active.wipe-left .nma-sectionwrapper {
    animation-name: scale-fromleft;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, .5, 0, 1);
}

@keyframes scale-fromleft {
    0% {
        transform: scale(.7) translateX(-50%);
        opacity: 1;
    }

    50% {
        transform: scale(.7) translateX(0px);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateX(0px);
        opacity: 1;
    }
}

// .active.onscroll-wipe:nth-child(even) .nma-sectionwrapper {
//     animation-name: scale-fromright;
// }

// SECTION 1 BOX PUSH IN
.active.wipe-right .nma-sectionwrapper {
    animation-name: scale-fromright;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, .5, 0, 1);
}

@keyframes scale-fromright {
    0% {
        transform: scale(.7) translateX(50%);
        opacity: 1;
    }

    40% {
        transform: scale(.7) translateX(0px);
        opacity: 1;
    }

    100% {
        transform: scale(1) translateX(0px);
        opacity: 1;
    }
}