/* SITE-HEADER SITE-NAV SITE-NAV */

.side-nav {
    padding-top: 3em;
    padding-bottom: 2em;
    width: 250px;
    min-height: 100vh;
    background-color: $color-neutral-light;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    nav {
        max-width: 175px;

        h2 {
            color: $color-neutral-dark;
        }

        li {
            list-style: none;
        }

        ul {
            padding: 0;
        }
    }

    nav li a {
        text-decoration: none;
        color: $color-neutral-dark;
        display: block;
        text-align: left;
        padding: 1em 0;
        font-size: 1rem;
        font-weight: 400;
        transition: all ease-out 250ms;

        &:hover {
            color: $color-main-b4;
        }
    }
}