/* SITE-HEADER SITE-NAV SITE-NAV */
/* SITE STRUCTURE */

.site-header {

    .bar-nav {
        width: 15%;
        min-height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        background-color: rgba(246, 246, 246, 1);
        padding-top: 2em;

        nav ul {
            padding: 0;
        }

        nav li {
            list-style: none;
        }

        nav li a {
            text-decoration: none;
            color: $color-text-headings;
            display: block;
            padding: 1em 0;
            font-weight: 400;
            transition: all ease-out 250ms;
        }

        nav li a:hover {
            color: $color-dark-accent;
        }
    }
}