/* HERO SECTION */

.hero {
    color: $color-neutral-light;
    background: $color-main-b4;
    display: grid;
    text-align: center;
    place-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto 0;
    padding: 6em 0;

    h1 {
        margin-bottom: .25em;
        color: $color-neutral-light;
    }

    p {
        margin: 1em auto;
    }
}

/* SECTION */

.main-content {
    margin-left: 250px;
    overflow-x: hidden;
}

section {
    background-color: $color-neutral-light;
    height: 100vh;
    margin: auto 0;
    padding: 6em 0;
    display: grid;
    place-items: center;
}

section:nth-of-type(2n) {
    background-color: $color-main-b1;
}

section:nth-of-type(3n) {
    background-color: $color-main-b2;
}

section:nth-of-type(4n) {
    background-color: $color-main-b3;
}

section:nth-of-type(5n) {
    background-color: $color-main-b4;
}

@media (min-width: 782px) {
    .overlap {
        align-items: center;
    }
}

.overlap .text-overlap,
.overlap .one-half:last-child {
    background-color: #ddd;
    padding: 2em;
    margin-left: -4em;
    position: relative;
    z-index: 10;
    border-radius: 0 30px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.overlap.swap {
    flex-direction: row-reverse;
}

.overlap.swap .one-half-column:last-child {
    margin-left: 0;
    margin-right: -4em;
}

#section3 {
    background-image: url(../img/kcc-campus.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .text-box {
        background-color: $color-main-b1;
        padding: 8em;
        text-align: center;
    }
}