/* HERO SECTION */

.hero {
    color: $color-neutral-light;
    display: flex;
    text-align: center;
    place-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto 0;

    h1 {
        margin-bottom: .25em;
        color: $color-neutral-light;
    }

    p {
        margin: 1em auto;
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.hero video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* SECTION */

.main-content {
    margin-left: 250px;
    overflow-x: hidden;
}

section {
    position: relative;
    min-height: 100vh;
    margin: auto 0;
    // padding: 6em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* WRAPPER + CONTAINER */

.nma-sectionwrapper {
    opacity: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nma-container {
    max-width: 1200px;
    margin: 0 auto;
}