/* HERO SECTION */

.hero {
    color: $color-neutral-light;
    background: $color-main-b4;
    display: grid;
    text-align: center;
    place-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto 0;
    padding: 6em 0;

    h1 {
        margin-bottom: .25em;
        color: $color-neutral-light;
    }

    p {
        margin: 1em auto;
    }
}

/* SECTION */

.main-content {
    margin-left: 250px;
    overflow-x: hidden;
}

section {
    background-color: $color-neutral-light;
    height: 100vh;
    margin: auto 0;
    padding: 6em 0;
    display: grid;
    place-items: center;
}

section:nth-of-type(2n) {
    background-color: $color-main-b1;
}

section:nth-of-type(3n) {
    background-color: $color-main-b2;
}

section:nth-of-type(4n) {
    background-color: $color-main-b3;
}

section:nth-of-type(5n) {
    background-color: $color-main-b4;
}