/* BASE COLORS */
body {
    color: $color-neutral-light;
}

h1,
h2,
h3 {
    color: $color-neutral-light;
}

/* BASE TEXT FONTS */

body {
    font-family: $font-family-sans;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: $font-family-sans;
}

/* BASE TYPOGRAPHY */

body {
    font-size: 100%;
    line-height: 1.4;
}

h1,
h2,
h3,
p {
    margin: 0 0 .5em 0;
}

/* SECTION HEADING */

.section-heading {
    font-size: 1rem;
    font-family: $font-family-sans;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: 0 0 .5em 0;
    margin: 3em auto 3em auto;
}

/* TYPOGRAPHIC SCALE */

h1 {
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-size: 2rem;
    line-height: 1.1;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.2;
}

/* LIMIT # OF CHARACTERS PER LINE */

p {
    max-width: 40em;
}

/* LINKS */

a {
    color: $color-main-b2;

    &:hover {
        color: $color-main-b2;
    }
}

/* TYPE SPECIMEN */

.headline {
    font-size: 4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    color: $color-main-b1;
}

.subheadline {
    font-weight: normal;
    font-size: 2.5rem;
    margin: .25em 0;
    color: $color-main-b3;
}